.products-table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
}

.product-details {
  text-align: center;
  color: blue;
  font-weight: 1000;
}

.product-list-container {
  font-size: larger;
}

#details-button {
  width: fit-content;
  height: 50%;
  margin: auto;
  background-color: #0077ff;
  font-weight: 800;
  color: white;
  border-color: #0077ff;
  outline: none;
  border-style: solid;
  display: block;
}

button:active {
  transform: scale(0.95);
}
