<div class="container mt-4">
  <h2>Products</h2>
  <div *ngIf="products === null" class="d-flex justify-content-center mt-4">
    <div class="spinner-border custom-loading-spinner" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div class="table-responsive-sm" *ngIf="products != null">
    <table class="table table-bordered text-center">
      <thead class="thead-light">
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th *ngIf="isAdmin()"></th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
            <a
              routerLink="/products/{{ product._id }}"
              class="clickable-product-name"
            >
              {{ product.name }}
            </a>
          </td>
          <td>{{ product.category.name }}</td>
          <td>{{ product.price }} RON</td>
          <td *ngIf="isAdmin()">
            <button
              class="btn btn-primary"
              routerLink="/products/edit/{{ product._id }}"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="isAdmin()" class="row mt-3">
    <div class="col-sm-4 offset-8">
      <button routerLink="/products/new" class="btn btn-primary">
        New Product
      </button>
    </div>
  </div>
</div>
