.product-details {
  text-align: center;
  font-weight: 1000;
}

button:active {
  transform: scale(0.95);
}

.clickable-product-name {
  font-weight: 700;
  color: black;
}

.custom-loading-spinner {
  width: 3rem;
  height: 3rem;
}
