<div class="product-details-container">
  <h2>Product: {{ product.name | uppercase }}</h2>
  <div id="buttons">
    <button id="edit-button">EDIT</button>
    <button id="delete-button">DELETE</button>
  </div>
  <div class="field-name">Name</div>
  <div class="field-value">{{ product.name }}</div>
  <div class="field-name">Category</div>
  <div class="field-value">{{ product.category }}</div>
  <div class="field-name">Price</div>
  <div class="field-value">{{ product.price }}</div>
  <div class="field-name">Description</div>
  <div class="field-value">{{ product.description }}</div>
</div>
