.field-name {
  color: gray;
  font-weight: bolder;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: right;
}

.field-value {
  grid-column-start: 2;
  grid-column-end: 5;
}

.product-details-container {
  display: grid;
  column-gap: 2%;
  row-gap: 10%;
  grid-template-columns: auto auto auto auto;
  font-size: larger;
}

h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

#edit-button {
  grid-column-start: 2;
  grid-column-end: 3;
  width: fit-content;
  height: 50%;
  margin: auto;
  background-color: #0077ff;
  font-weight: 800;
  color: white;
  border-color: #0077ff;
  outline: none;
  border-style: solid;
}

#delete-button {
  grid-column-start: 3;
  grid-column-end: 4;
  width: fit-content;
  height: 50%;
  margin: auto;
  background-color: #f15858;
  font-weight: 800;
  color: white;
  border-color: #f15858;
  outline: none;
  border-style: solid;
}

#buttons {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-template-columns: 20% 30% 30%;
  column-gap: 5%;
}

button:active {
  transform: scale(0.95);
}
