.field-name {
  color: gray;
  font-weight: bolder;
}

.break-all {
  word-break: break-all;
}

.product-details-container {
  display: grid;
  column-gap: 2%;
  row-gap: 10%;
  grid-template-columns: auto auto auto auto;
  font-size: larger;
}

h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

button:active {
  transform: scale(0.95);
}
