<div *ngIf="product">
  <div class="container mt-4">
    <div class="row justify-content-between mt-4">
      <div class="col-md-12 col-lg-6">
        <h2>Product: {{ product.name }}</h2>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-2 field-name">Name</div>
      <div class="col-12 col-sm-10">{{ product.name }}</div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-2 field-name">Category</div>
      <div class="col-12 col-sm-10">{{ product.category.name }}</div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-2 field-name">Price</div>
      <div class="col-12 col-sm-10">{{ product.price }} RON</div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-2 field-name">Weight</div>
      <div class="col-12 col-sm-10">{{ product.weight }} g</div>
    </div>
    <div class="row mt-3">
      <div class="col-12 col-sm-2 field-name">Description</div>
      <div class="col-12 col-sm-10 description-text">
        {{ product.description }}
      </div>
    </div>
    <div *ngIf="isCustomer()" class="row mt-3">
      <div class="col-sm-4 offset-8">
        <button
          class="btn btn-primary"
          (click)="addToCart()"
          [disabled]="checkProductQuantityInCart()"
        >
          {{
            checkProductQuantityInCart() == false
              ? "Add to cart"
              : "Maximum quantity in cart"
          }}
        </button>
      </div>
    </div>
    <div *ngIf="isAdmin()" class="row mt-3">
      <div class="col-sm-4 offset-8">
        <button
          class="btn btn-danger"
          data-toggle="modal"
          data-target="#myModal"
        >
          Delete
        </button>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-sm-4 offset-8">
        <button class="btn btn-primary" (click)="goBack()">Back</button>
      </div>
    </div>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Delete Confirmation</h3>
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div>Are you sure you want to delete this product?</div>
      </div>
      <div class="modal-footer">
        <button
          class="btn btn-danger"
          (click)="deleteProduct()"
          data-dismiss="modal"
        >
          OK
        </button>
        <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
