<div *ngIf="product">
  <div class="container">
    <div class="row justify-content-between row align-items-center">
      <div class="col-md-12 col-lg-6 d-flex justify-content-start">
        <h2>Product: {{ product.name | uppercase }}</h2>
      </div>
      <div class="col-md-12 col-lg-3 d-flex">
        <button class="btn btn-primary">ADD TO CART</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2 field-name">Name</div>
      <div class="col-12 col-sm-10">{{ product.name }}</div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2 field-name">Category</div>
      <div class="col-12 col-sm-10">{{ product.category }}</div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2 field-name">Price</div>
      <div class="col-12 col-sm-10">{{ product.price }}</div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-2 field-name">Description</div>
      <div class="col-12 col-sm-10 break-all">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>
