.field-name {
  color: gray;
  font-weight: bolder;
}

.break-all {
  word-break: break-all;
}

button:active {
  transform: scale(0.95);
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.description-text {
  white-space: wrap;
}
