<div *ngIf="messageService.messages.length">
  <div class="container mt-4">
    <div class="row justify-content-between mt-4">
      <div class="col-md-6 col-sm-12 align-self-center">
        <h2>Messages</h2>
      </div>
      <div class="col-md-2 col-sm-12 offset-lg-4">
        <button class="btn btn-secondary" (click)="messageService.clear()">
          Clear
        </button>
      </div>
    </div>
    <div class="row justify-content-between mt-4">
      <div class="container" *ngFor="let message of messageService.messages">
        <div class="row justify-content-between mt-4">
          <div class="col-12">
            {{ message }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
